* {
    margin: 0;
    padding: 0;
}

body {

}

header {

}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8vh 2.19vw 29.6vh 2.19vw;
}

.header-img {
    height: 7.68vh;
}

.header-button {
    height: 7.68vh;
    width: 14.641288433382138vw;
    border-radius: 50px;
}

@media screen and (max-width: 768px) {

}